#floating-alert-ctn
#place
    #loading
        .content
            img.icon(src="https://assets.dynastic.co/brand/img/icon-256.png", height="75")
            span.text Loading…
    .canvas-container
        include pixel-data
        .button-ctn
            .control-btns
                .control.btn.btn-success#grid-button
                .btn-group(role="group", aria-label="Zoom")
                    .control.btn.btn-primary#zoom-button
                    .control.btn.btn-primary#zoom-slider-ctn: input#zoom-slider(data-slider-id='zoomSlider', type="text", data-slider-tooltip="hide")

        #colour-picker-popover-ctn
        #colour-picker-popover
            style#popover-styling
            #colour-picker
            .colour-info.field
                span.title Hex
                input.value#colour-picker-hex-value(value="#D66668", maxlength="7", autocomplete="off", autocorrect="off", autocapitalizae="off", spellcheck="false", tabindex="-1")
        #grid
        #grid-hint
        #palette-ctn
            .ctn-row
                .content.compact
                    button#coordinates.section(style="display: none;")
                        i.fa.fa-map-marker.fa-fw
                        .
                            (#[span], #[span])
        canvas#place-canvas(height="100%", width="100%")
        #zoom-controller
            #camera-controller
                #template-images
                canvas#place-canvas-draw(height=config.boardSize, width=config.boardSize)